<div class="lay-pri">
  <div class="lay-sup" *ngFor="let fixture of fixtures | ObjToArray , let i =index">
    <div class="div-lea">
      <img class="img-fix-2" src="{{fixture.country_logo}}"><span class="span-co">{{fixture.country_name}}</span>
      <img class="img-fix-2" src="{{fixture.league_logo}}"><span class="span-co">{{fixture.league_name}}</span>
    </div>
    <div class="divsup-flex">
      <div class="div-fix-flex">
        <div class="div-fix">
          <img class="img-fix" src="{{fixture.home_team_logo}}"><span>{{fixture.event_home_team}}</span>
        </div>
        <div class="div-result">
          <div>
            <span>{{fixture.event_date | date:'shortDate'}}</span><span class="span-time">{{fixture.event_time}}</span>
          </div>
          <span>{{fixture.event_ft_result}}</span>
          <span>{{fixture.event_status}}</span>
          <a [routerLink]="['/fixtures/',fixture.event_key]">Dinamica</a>
          <button type="button" class="a-more" (click)="DetailFixture(fixture.event_key)" (click)="HiddenDetail(i)">{{moreDetail[i]}}</button>
        </div>
        <div class="div-fix">
          <img class="img-fix" src="{{fixture.away_team_logo}}"><span>{{fixture.event_away_team}}</span>
        </div>
      </div>
    </div>
    <div *ngIf="showHidden[i]">
      <div class="div-option">
        <a class="a-option">Partido</a>
        <a class="a-option">Cuotas</a>
          <a class="a-option" (click)="hiddenH2H(i)" (click)="getheadtohead2(fixture.away_team_key,fixture.home_team_key)">H2H</a>
        <a class="a-option">Clasificación</a>
      </div>
      <hr>
      <div class="div-option">
        <a class="a-option-2">Resumen</a>
        <a class="a-option-2" (click)="hiddenLineups()">Alineaciones</a>
      </div>
      <div class="first-time">
        <div>1ER TIEMPO</div>
        <div>
          {{fixture.event_halftime_result}}
        </div>
      </div>
      <div *ngFor="let fixture of eventchosen">
        <div class="div-scorer" *ngFor="let goalscore of fixture.goalscorers;index as i;">
          <div class="div-score" *ngIf="goalscore.info_time == '1st Half'">
            <span class="time-score">{{goalscore.time}}'</span><span class="goal-score">{{goalscore.score}}</span><span
              class="scorer-score">{{goalscore.home_scorer}}</span>
          </div>
          <div class="div-score" *ngIf="goalscore.info_time == '1st Half'">
            <span class="scorer-score">{{i}}{{goalscore.away_scorer}}</span><span
              class="goal-score">{{goalscore.score}}</span><span class="time-score">{{goalscore.time}}'</span>
          </div>
        </div>
      </div>
      <div class="first-time">
        <div>2DO TIEMPO</div>
        <div>
          {{fixture.event_ft_result}}
        </div>
      </div>
      <div *ngFor="let fixture of eventchosen">
        <div class="div-scorer" *ngFor="let goalscore of fixture.goalscorers">
          <div class="div-score" *ngIf="goalscore.info_time == '2nd Half'">
            <span class="time-score">{{goalscore.time}}'</span><span class="goal-score">{{goalscore.score}}</span><span
              class="scorer-score">{{goalscore.home_scorer}}</span>
          </div>
          <div class="div-score" *ngIf="goalscore.info_time == '2nd Half'">
            <span class="scorer-score">{{goalscore.away_scorer}}</span><span
              class="goal-score">{{goalscore.score}}</span><span class="time-score">{{goalscore.time}}'</span>
          </div>
        </div>
      </div>
      <app-headtohead *ngIf="hiddenh2h[i]" [firstTeamId]="fixture.away_team_key" [secondTeamId]="fixture.home_team_key"></app-headtohead>
      <app-lineups *ngIf="hiddenlineup"></app-lineups>
    </div>
    <hr>


  </div>
</div>

