.div-prin
  width: 100%
  display: flex
  background: #F4F6F7
  margin-top:0.188em

.div-option-left
  display: flex
  flex-direction: column
  background: #E5E8E8
  width: 17%
  margin-left: 3.438em

.div-option-rigth
  width: 70%
