.div-country
  width: 20%
  display: flex
  justify-content: space-between
.div-2-country
  width: 90%
  margin-top: 0.438em
  text-align: center
  display: grid
  flex-direction: column

li
  text-align: initial

.img-countrie
  width: 1.563em
  height: 1.563em
  border-radius: 0.813em
.a-countrie
  margin-inline: 0.625em
  font-size: 0.938em
  text-decoration: none
  &:hover
    cursor: pointer
