/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@100&display=swap'
*
  font-family: 'PT Sans', sans-serif !important

ul
  list-style: none
.button-pro
  margin-left: 69px
  width: 6.25em
  border-radius: 0.438em
  background: azure
  border: #fff
  margin-bottom: 0.688em
.hidden-pro
  display: grid
  flex-direction: column
app-fixtures
  width: 70%
  margin-top: 0.625em
  margin-inline: 0.625em  0.625em
